name: QPG Deploy PROD For Both GHG and CW

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      gameName:
        required: true
        type: string
      gameCode:
        required: true
        type: string
      useTPBundling:
        required: false
        type: boolean
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true
      SLACK_WEBHOOK:
        required: true
      NODE_AUTH_TOKEN:
        required: true
      PROD_BASIC_AUTH:
        required: true

jobs:
  build-deploy-ghg:
    uses: goldenheartsgames/ci/.github/workflows/deploy-ghg-prod.yml@main
    with:
      gameName: ${{ inputs.gameName }}
      gameCode: ${{ inputs.gameCode }}
      useTPBundling: ${{ inputs.useTPBundling }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.PROD_AWS_REGION }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      PROD_BASIC_AUTH: ${{ secrets.PROD_BASIC_AUTH }}

  build-deploy-cw:
    uses: goldenheartsgames/ci/.github/workflows/deploy-cw-prod.yml@main
    with:
      gameName: ${{ inputs.gameName }}
      gameCode: ${{ inputs.gameCode }}
      useTPBundling: ${{ inputs.useTPBundling }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.PROD_AWS_REGION }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      PROD_BASIC_AUTH: ${{ secrets.PROD_BASIC_AUTH }}
